<div class="landing-bg">
  <div class="landing-content">
    <h1>The show's about to begin. Are you ready?</h1>
    <p>Create instant playlists for your upcoming concerts based on what they'll most likely play.</p>
    <%= link_to 'Sign in with Rdio', sessions_path, :method => :post, :class => "btn primary large" %>
  </div>
</div>

