<style type="text/css">

.span-half {
  width: 350px;
  background: blue;
}
</style>

<div class="span-half">
  <p class="search-explanation">What show are you going to see?</p>
  <input class="xlarge" placeholder="enter an artist" type="text" />
</div>
<div class="span-half">
  results!
</div>
