<div class="search-column main-column">
  <p class="search-explanation">What show are you going to see?</p>
  <input class="xlarge" placeholder="enter an artist" type="text" />
</div>
<div class="results-column main-column">
  results!
</div>
