<div class="row">
  <div class="search-column span8">
    <p class="search-explanation">What show are you going to see?</p>
    <input class="xlarge" placeholder="enter an artist" type="text" />
  </div>
  <div class="results-column span8">
    results!
  </div>
</div>