@import "twitter/bootstrap";

h1.branding {
  text-align: center;
  margin: 10px 0;
  em {
    font-weight: normal;
  }
}

.footer {
  margin-top: 10px;
  text-align: center;
  p {
    font-size: 12px;
    font-color: @grayLight;  
  }
}

.landing-banner {
  margin: 0 auto;
  background: url('/assets/concert_1.jpeg');
  height: 500px;
  width: 800px;
  border: 1px solid @grayLight;
  .border-radius(8px);

  .landing-content {
    margin: 30px 0 0 30px;
  }

  h1 {
    color: @white;
    width: 295px;
    font-size: 28px;
    margin: 0;
  }

  p {
    color: @white;
    margin-top: 20px;
    width: 300px;
  }
}

.main-column {
  width: 50%;
  float: left;
}

.search-column {
  padding: 15px 0 0 15px;
}

.results-column {
  
}

.search-explanation {
  font-size: 20px;
  line-height: 20px;
  color: @white;
  width: 300px;
}