@import "twitter/bootstrap";

body {
  background-color: #eee;
}

h1.branding {
  text-align: center;
  margin: 10px 0;
  em {
    font-weight: 100;
  }
}

.container {
  width: 720px;
  margin: 0 auto;
}

.content {
  background-color: white;
  padding: 20px 20px 0 20px;
  margin: 0 -20px;
  .border-radius(0 0 6px 6px);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.page-header {
  background-color: whiteSmoke;
  padding: 5px 5px 5px;
  margin: -20px -20px 0px;  
}

.footer {
  margin-top: 10px;
  text-align: center;
  p {
    font-size: 12px;
    font-color: @grayLight;  
  }
}

.landing-banner {
  background: url('/assets/concert_1.jpeg');
  height: 490px;
  width: 760px;
  .border-radius(0 0 6px 6px);
}

.landing-content {
  padding: 25px 30px 0 30px;
  h1 {
    color: @white;
    width: 295px;
    font-size: 28px;
    margin: 0;
  }

  p {
    color: @white;
    margin-top: 20px;
    width: 300px;
  }
}


